$desktopPriceFont: 46px;
$desktopTitleDescriptionFont: 28px;
$desktopBigFont: 24px;
$desktopMediumFont: 18px;
$desktopDescriptionFont: 16px;
$desktopSmallFont: 14px;
$desktopTinyFont: 12px;

$tinySpace: 10px;
$smallSpace: 16px;
$meddleSpace: 32px;

$breakpointPhone: 800px;